@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --color-border: hsl(var(--outline));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--on-primary));
  --color-primary-inverse: hsl(var(--inverse-primary));

  --color-primaryContainer: hsl(var(--primary-container));
  --color-primaryContainer-foreground: hsl(var(--on-primary-container));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--on-secondary));

  --color-secondaryContainer: hsl(var(--secondary-container));
  --color-secondaryContainer-foreground: hsl(var(--on-secondary-container));

  --color-tertiary: hsl(var(--tertiary));
  --color-tertiary-foreground: hsl(var(--on-tertiary));

  --color-tertiaryContainer: hsl(var(--tertiary-container));
  --color-tertiaryContainer-foreground: hsl(var(--on-tertiary-container));

  --color-error: hsl(var(--error));
  --color-error-foreground: hsl(var(--on-error));

  --color-errorContainer: hsl(var(--error-container));
  --color-errorContainer-foreground: hsl(var(--on-error-container));

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--on-background));

  --color-surface: hsl(var(--surface));
  --color-surface-foreground: hsl(var(--on-surface));
  --color-surface-inverse: hsl(var(--inverse-surface));
  --color-surface-inverseForeground: hsl(var(--inverse-on-surface));
  --color-surface-tint: hsl(var(--surface-tint));

  --color-surfaceVariant: hsl(var(--surface-variant));
  --color-surfaceVariant-foreground: hsl(var(--on-surface-variant));

  --color-outline: hsl(var(--outline));
  --color-outline-variant: hsl(var(--outline-variant));

  --color-shadow: hsl(var(--shadow));
  --color-scrim: hsl(var(--scrim));

  --color-easy: rgb(var(--extended-color-easy-color));
  --color-easy-foreground: rgb(var(--extended-color-easy-on-color));

  --color-easyContainer: rgb(var(--extended-color-easy-color-container));
  --color-easyContainer-foreground: rgb(var(--extended-color-easy-on-color-container));

  --color-medium: rgb(var(--extended-color-medium-color));
  --color-medium-foreground: rgb(var(--extended-color-medium-on-color));

  --color-mediumContainer: rgb(var(--extended-color-medium-color-container));
  --color-mediumContainer-foreground: rgb(var(--extended-color-medium-on-color-container));

  --color-hard: rgb(var(--extended-color-hard-color));
  --color-hard-foreground: rgb(var(--extended-color-hard-on-color));

  --color-hardContainer: rgb(var(--extended-color-hard-color-container));
  --color-hardContainer-foreground: rgb(var(--extended-color-hard-on-color-container));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility next-link {
  @apply bg-inherit text-inherit decoration-transparent;
}

/* Default theme color: #0066ff */

@layer base {
  :root {
    --primary: var(--md-sys-color-primary-light);
    --on-primary: var(--md-sys-color-on-primary-light);
    --primary-container: var(--md-sys-color-primary-container-light);
    --on-primary-container: var(--md-sys-color-on-primary-container-light);
    --secondary: var(--md-sys-color-secondary-light);
    --on-secondary: var(--md-sys-color-on-secondary-light);
    --secondary-container: var(--md-sys-color-secondary-container-light);
    --on-secondary-container: var(--md-sys-color-on-secondary-container-light);
    --tertiary: var(--md-sys-color-tertiary-light);
    --on-tertiary: var(--md-sys-color-on-tertiary-light);
    --tertiary-container: var(--md-sys-color-tertiary-container-light);
    --on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
    --error: var(--md-sys-color-error-light);
    --error-container: var(--md-sys-color-error-container-light);
    --on-error: var(--md-sys-color-on-error-light);
    --on-error-container: var(--md-sys-color-on-error-container-light);
    --background: var(--md-sys-color-background-light);
    --on-background: var(--md-sys-color-on-background-light);
    --surface: var(--md-sys-color-surface-light);
    --on-surface: var(--md-sys-color-on-surface-light);
    --surface-variant: var(--md-sys-color-surface-variant-light);
    --on-surface-variant: var(--md-sys-color-on-surface-variant-light);
    --outline: var(--md-sys-color-outline-light);
    --inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
    --inverse-surface: var(--md-sys-color-inverse-surface-light);
    --inverse-primary: var(--md-sys-color-inverse-primary-light);
    --shadow: var(--md-sys-color-shadow-light);
    --surface-tint: var(--md-sys-color-surface-tint-light);
    --outline-variant: var(--md-sys-color-outline-variant-light);
    --scrim: var(--md-sys-color-scrim-light);

    --extended-color-easy-color: 53 105 63; /* rgb(53 105 63) */
    --extended-color-easy-on-color: 255 255 255; /* rgb(255 255 255) */
    --extended-color-easy-color-container: 182 241 187; /* rgb(182 241 187) */
    --extended-color-easy-on-color-container: 0 33 9; /* rgb(0 33 9) */
    --extended-color-medium-color: 118 90 11; /* rgb(118 90 11) */
    --extended-color-medium-on-color: 255 255 255; /* rgb(255 255 255) */
    --extended-color-medium-color-container: 255 223 154; /* rgb(255 223 154) */
    --extended-color-medium-on-color-container: 37 26 0; /* rgb(37 26 0) */
    --extended-color-hard-color: 144 74 70; /* rgb(144 74 70) */
    --extended-color-hard-on-color: 255 255 255; /* rgb(255 255 255) */
    --extended-color-hard-color-container: 255 218 215; /* rgb(255 218 215) */
    --extended-color-hard-on-color-container: 59 9 9; /* rgb(59 9 9) */

    --radius: 1rem;
  }

  .dark {
    --primary: var(--md-sys-color-primary-dark);
    --on-primary: var(--md-sys-color-on-primary-dark);
    --primary-container: var(--md-sys-color-primary-container-dark);
    --on-primary-container: var(--md-sys-color-on-primary-container-dark);
    --secondary: var(--md-sys-color-secondary-dark);
    --on-secondary: var(--md-sys-color-on-secondary-dark);
    --secondary-container: var(--md-sys-color-secondary-container-dark);
    --on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
    --tertiary: var(--md-sys-color-tertiary-dark);
    --on-tertiary: var(--md-sys-color-on-tertiary-dark);
    --tertiary-container: var(--md-sys-color-tertiary-container-dark);
    --on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
    --error: var(--md-sys-color-error-dark);
    --error-container: var(--md-sys-color-error-container-dark);
    --on-error: var(--md-sys-color-on-error-dark);
    --on-error-container: var(--md-sys-color-on-error-container-dark);
    --background: var(--md-sys-color-background-dark);
    --on-background: var(--md-sys-color-on-background-dark);
    --surface: var(--md-sys-color-surface-dark);
    --on-surface: var(--md-sys-color-on-surface-dark);
    --surface-variant: var(--md-sys-color-surface-variant-dark);
    --on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
    --outline: var(--md-sys-color-outline-dark);
    --inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
    --inverse-surface: var(--md-sys-color-inverse-surface-dark);
    --inverse-primary: var(--md-sys-color-inverse-primary-dark);
    --shadow: var(--md-sys-color-shadow-dark);
    --surface-tint: var(--md-sys-color-surface-tint-dark);
    --outline-variant: var(--md-sys-color-outline-variant-dark);
    --scrim: var(--md-sys-color-scrim-dark);

    --extended-color-easy-color: 155 212 160; /* rgb(155 212 160) */
    --extended-color-easy-on-color: 0 57 21; /* rgb(0 57 21) */
    --extended-color-easy-color-container: 27 81 41; /* rgb(27 81 41) */
    --extended-color-easy-on-color-container: 182 241 187; /* rgb(182 241 187) */
    --extended-color-medium-color: 232 194 108; /* rgb(232 194 108) */
    --extended-color-medium-on-color: 63 46 0; /* rgb(63 46 0) */
    --extended-color-medium-color-container: 90 67 0; /* rgb(90 67 0) */
    --extended-color-medium-on-color-container: 255 223 154; /* rgb(255 223 154) */
    --extended-color-hard-color: 255 179 173; /* rgb(255 179 173) */
    --extended-color-hard-on-color: 87 30 27; /* rgb(87 30 27) */
    --extended-color-hard-color-container: 115 51 48; /* rgb(115 51 48) */
    --extended-color-hard-on-color-container: 255 218 215; /* rgb(255 218 215) */

    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
