@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary-inverse: hsl(var(--inverse-primary));

  --color-primary-container: hsl(var(--primary-container));
  --color-primary-container-foreground: hsl(var(--on-primary-container));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-secondary-container: hsl(var(--secondary-container));
  --color-secondary-container-foreground: hsl(var(--on-secondary-container));

  --color-tertiary: hsl(var(--tertiary));
  --color-tertiary-foreground: hsl(var(--on-tertiary));

  --color-tertiary-container: hsl(var(--tertiary-container));
  --color-tertiary-container-foreground: hsl(var(--on-tertiary-container));

  --color-error: hsl(var(--error));
  --color-error-foreground: hsl(var(--on-error));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-error-container: hsl(var(--error-container));
  --color-error-container-foreground: hsl(var(--on-error-container));

  --color-surface: hsl(var(--surface));
  --color-surface-foreground: hsl(var(--on-surface));
  --color-surface-inverse: hsl(var(--inverse-surface));
  --color-surface-inverse-foreground: hsl(var(--inverse-on-surface));
  --color-surface-tint: hsl(var(--surface-tint));

  --color-surface-variant: hsl(var(--surface-variant));
  --color-surface-variant-foreground: hsl(var(--on-surface-variant));

  --color-outline: hsl(var(--outline));
  --color-outline-variant: hsl(var(--outline-variant));

  --color-shadow: hsl(var(--shadow));
  --color-scrim: hsl(var(--scrim));

  --color-easy: rgb(var(--extended-color-easy-color));
  --color-easy-foreground: rgb(var(--extended-color-easy-on-color));

  --color-easy-container: rgb(var(--extended-color-easy-color-container));
  --color-easy-container-foreground: rgb(var(--extended-color-easy-on-color-container));

  --color-medium: rgb(var(--extended-color-medium-color));
  --color-medium-foreground: rgb(var(--extended-color-medium-on-color));

  --color-medium-container: rgb(var(--extended-color-medium-color-container));
  --color-medium-container-foreground: rgb(var(--extended-color-medium-on-color-container));

  --color-hard: rgb(var(--extended-color-hard-color));
  --color-hard-foreground: rgb(var(--extended-color-hard-on-color));

  --color-hard-container: rgb(var(--extended-color-hard-color-container));
  --color-hard-container-foreground: rgb(var(--extended-color-hard-on-color-container));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility next-link {
  @apply bg-inherit text-inherit decoration-transparent;
}

/* Default theme color: #0066ff */

@layer base {
  :root {
    /* Shadcn tokens mapped to Material 3 tokens. */
    --foreground: var(--md-sys-color-on-background-light);
    --card: var(--md-sys-color-surface-light);
    --card-foreground: var(--md-sys-color-on-surface-light);
    --popover: var(--md-sys-color-surface-light);
    --popover-foreground: var(--md-sys-color-on-surface-light);
    --primary-foreground: var(--md-sys-color-on-primary-light);
    --secondary-foreground: var(--md-sys-color-on-secondary-light);
    --muted: var(--md-sys-color-surface-variant-light);
    --muted-foreground: var(--md-sys-color-on-surface-variant-light);
    --accent: var(--surface-variant);
    --accent-foreground: var(--on-surface-variant);
    --destructive: var(--md-sys-color-error-light);
    --destructive-foreground: var(--md-sys-color-on-error-light);
    --border: var(--md-sys-color-outline-variant-light);
    --input: var(--md-sys-color-outline-variant-light);
    --ring: var(--md-sys-color-primary-light);
    --chart-1: var(--md-sys-color-primary-light);
    --chart-2: var(--md-sys-color-secondary-light);
    --chart-3: var(--md-sys-color-tertiary-light);
    --chart-4: var(--md-sys-color-primary-container-light);
    --chart-5: var(--md-sys-color-tertiary-container-light);
    --sidebar: var(--md-sys-color-surface-light);
    --sidebar-foreground: var(--md-sys-color-on-surface-light);
    --sidebar-primary: var(--md-sys-color-primary-light);
    --sidebar-primary-foreground: var(--md-sys-color-on-primary-light);
    --sidebar-accent: var(--md-sys-color-secondary-container-light);
    --sidebar-accent-foreground: var(--md-sys-color-on-secondary-container-light);
    --sidebar-border: var(--md-sys-color-outline-variant-light);
    --sidebar-ring: var(--md-sys-color-primary-light);

    --primary: var(--md-sys-color-primary-light);
    --on-primary: var(--md-sys-color-on-primary-light);
    --primary-container: var(--md-sys-color-primary-container-light);
    --on-primary-container: var(--md-sys-color-on-primary-container-light);
    --secondary: var(--md-sys-color-secondary-light);
    --on-secondary: var(--md-sys-color-on-secondary-light);
    --secondary-container: var(--md-sys-color-secondary-container-light);
    --on-secondary-container: var(--md-sys-color-on-secondary-container-light);
    --tertiary: var(--md-sys-color-tertiary-light);
    --on-tertiary: var(--md-sys-color-on-tertiary-light);
    --tertiary-container: var(--md-sys-color-tertiary-container-light);
    --on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
    --error: var(--md-sys-color-error-light);
    --error-container: var(--md-sys-color-error-container-light);
    --on-error: var(--md-sys-color-on-error-light);
    --on-error-container: var(--md-sys-color-on-error-container-light);
    --background: var(--md-sys-color-background-light);
    --on-background: var(--md-sys-color-on-background-light);
    --surface: var(--md-sys-color-surface-light);
    --on-surface: var(--md-sys-color-on-surface-light);
    --surface-variant: var(--md-sys-color-surface-variant-light);
    --on-surface-variant: var(--md-sys-color-on-surface-variant-light);
    --outline: var(--md-sys-color-outline-light);
    --inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
    --inverse-surface: var(--md-sys-color-inverse-surface-light);
    --inverse-primary: var(--md-sys-color-inverse-primary-light);
    --shadow: var(--md-sys-color-shadow-light);
    --surface-tint: var(--md-sys-color-surface-tint-light);
    --outline-variant: var(--md-sys-color-outline-variant-light);
    --scrim: var(--md-sys-color-scrim-light);

    --extended-color-easy-color: 53 105 63; /* rgb(53 105 63) */
    --extended-color-easy-on-color: 255 255 255; /* rgb(255 255 255) */
    --extended-color-easy-color-container: 182 241 187; /* rgb(182 241 187) */
    --extended-color-easy-on-color-container: 0 33 9; /* rgb(0 33 9) */
    --extended-color-medium-color: 118 90 11; /* rgb(118 90 11) */
    --extended-color-medium-on-color: 255 255 255; /* rgb(255 255 255) */
    --extended-color-medium-color-container: 255 223 154; /* rgb(255 223 154) */
    --extended-color-medium-on-color-container: 37 26 0; /* rgb(37 26 0) */
    --extended-color-hard-color: 144 74 70; /* rgb(144 74 70) */
    --extended-color-hard-on-color: 255 255 255; /* rgb(255 255 255) */
    --extended-color-hard-color-container: 255 218 215; /* rgb(255 218 215) */
    --extended-color-hard-on-color-container: 59 9 9; /* rgb(59 9 9) */

    --radius: 1rem;
  }

  .dark {
    /* Shadcn tokens mapped to Material 3 tokens. */
    --foreground: var(--md-sys-color-on-background-dark);
    --card: var(--md-sys-color-surface-dark);
    --card-foreground: var(--md-sys-color-on-surface-dark);
    --popover: var(--md-sys-color-surface-dark);
    --popover-foreground: var(--md-sys-color-on-surface-dark);
    --primary-foreground: var(--md-sys-color-on-primary-dark);
    --secondary-foreground: var(--md-sys-color-on-secondary-dark);
    --muted: var(--md-sys-color-surface-variant-dark);
    --muted-foreground: var(--md-sys-color-on-surface-variant-dark);
    --accent: var(--surface-variant);
    --accent-foreground: var(--on-surface-variant);
    --destructive: var(--md-sys-color-error-dark);
    --destructive-foreground: var(--md-sys-color-on-error-dark);
    --border: var(--md-sys-color-outline-variant-dark);
    --input: var(--md-sys-color-outline-variant-dark);
    --ring: var(--md-sys-color-primary-dark);
    --chart-1: var(--md-sys-color-primary-dark);
    --chart-2: var(--md-sys-color-secondary-dark);
    --chart-3: var(--md-sys-color-tertiary-dark);
    --chart-4: var(--md-sys-color-primary-container-dark);
    --chart-5: var(--md-sys-color-tertiary-container-dark);
    --sidebar: var(--md-sys-color-surface-dark);
    --sidebar-foreground: var(--md-sys-color-on-surface-dark);
    --sidebar-primary: var(--md-sys-color-primary-dark);
    --sidebar-primary-foreground: var(--md-sys-color-on-primary-dark);
    --sidebar-accent: var(--md-sys-color-secondary-container-dark);
    --sidebar-accent-foreground: var(--md-sys-color-on-secondary-container-dark);
    --sidebar-border: var(--md-sys-color-outline-variant-dark);
    --sidebar-ring: var(--md-sys-color-primary-dark);

    --primary: var(--md-sys-color-primary-dark);
    --on-primary: var(--md-sys-color-on-primary-dark);
    --primary-container: var(--md-sys-color-primary-container-dark);
    --on-primary-container: var(--md-sys-color-on-primary-container-dark);
    --secondary: var(--md-sys-color-secondary-dark);
    --on-secondary: var(--md-sys-color-on-secondary-dark);
    --secondary-container: var(--md-sys-color-secondary-container-dark);
    --on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
    --tertiary: var(--md-sys-color-tertiary-dark);
    --on-tertiary: var(--md-sys-color-on-tertiary-dark);
    --tertiary-container: var(--md-sys-color-tertiary-container-dark);
    --on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
    --error: var(--md-sys-color-error-dark);
    --error-container: var(--md-sys-color-error-container-dark);
    --on-error: var(--md-sys-color-on-error-dark);
    --on-error-container: var(--md-sys-color-on-error-container-dark);
    --background: var(--md-sys-color-background-dark);
    --on-background: var(--md-sys-color-on-background-dark);
    --surface: var(--md-sys-color-surface-dark);
    --on-surface: var(--md-sys-color-on-surface-dark);
    --surface-variant: var(--md-sys-color-surface-variant-dark);
    --on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
    --outline: var(--md-sys-color-outline-dark);
    --inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
    --inverse-surface: var(--md-sys-color-inverse-surface-dark);
    --inverse-primary: var(--md-sys-color-inverse-primary-dark);
    --shadow: var(--md-sys-color-shadow-dark);
    --surface-tint: var(--md-sys-color-surface-tint-dark);
    --outline-variant: var(--md-sys-color-outline-variant-dark);
    --scrim: var(--md-sys-color-scrim-dark);

    --extended-color-easy-color: 155 212 160; /* rgb(155 212 160) */
    --extended-color-easy-on-color: 0 57 21; /* rgb(0 57 21) */
    --extended-color-easy-color-container: 27 81 41; /* rgb(27 81 41) */
    --extended-color-easy-on-color-container: 182 241 187; /* rgb(182 241 187) */
    --extended-color-medium-color: 232 194 108; /* rgb(232 194 108) */
    --extended-color-medium-on-color: 63 46 0; /* rgb(63 46 0) */
    --extended-color-medium-color-container: 90 67 0; /* rgb(90 67 0) */
    --extended-color-medium-on-color-container: 255 223 154; /* rgb(255 223 154) */
    --extended-color-hard-color: 255 179 173; /* rgb(255 179 173) */
    --extended-color-hard-on-color: 87 30 27; /* rgb(87 30 27) */
    --extended-color-hard-color-container: 115 51 48; /* rgb(115 51 48) */
    --extended-color-hard-on-color-container: 255 218 215; /* rgb(255 218 215) */
  }
}
