name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest

    # strategy:
    #  max-parallel: 24
    #  matrix:
    #    node-version: [24.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      # - name: Use Node.js ${{ matrix.node-version }}
      #  uses: actions/setup-node@v3
      #  with:
      #    node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Test
        run: bun test
